// Adding Font: Bakh 100, 300, 500, Bold, and Normal(600)
@font-face {
  font-family: "Bakh";
  src: url(../fonts/bakh/woff/100.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Bakh";
  src: url(../fonts/bakh/woff/300.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Bakh";
  src: url(../fonts/bakh/woff/500.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Bakh";
  src: url(../fonts/bakh/woff/bold.woff) format("woff");
  font-weight: "bold";
}

@font-face {
  font-family: "Bakh";
  src: url(../fonts/bakh/woff/normal.woff) format("woff");
  font-weight: 600;
}

// Adding Font: Iran Sans 100, 200, 300, 400, 500, 600, 700, 800, 900
@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx100.woff) format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx200.woff) format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx300.woff) format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx400.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx500.woff) format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx600.woff) format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx700.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx800.woff) format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iransansx/woff/iransansx900.woff) format("woff");
  font-weight: 900;
}