// Dark Colors
$color--darkest: #000 !important;
$color--dark: #111 !important;

// Light Colors
$color--lightest: #fff !important;
$color--light: #eee !important;
$color__secondary--light: #a7a7a7 !important;
$color__secondary--lightest: #eee !important;


// Fonts
$title__font: "Bakh" !important;
$text__font: "Iran Sans" !important;